name: Fetch Conjur Secret

on:
  push:
    branches: [ main ]

jobs:
  retrieve-secret:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install curl and jq
      run: sudo apt-get update && sudo apt-get install -y curl jq

    - name: Authenticate to Conjur and retrieve secret
      env:
        CONJUR_ACCOUNT: ${{ secrets.CONJUR_ACCOUNT }}
        CONJUR_APPLIANCE_URL: ${{ secrets.CONJUR_APPLIANCE_URL }}
        CONJUR_AUTHN_LOGIN: ${{ secrets.CONJUR_AUTHN_LOGIN }}
        CONJUR_API_KEY: ${{ secrets.CONJUR_API_KEY }}
      run: |
        AUTHN_TOKEN=$(curl -s --request POST \
        --user "$CONJUR_AUTHN_LOGIN:$CONJUR_API_KEY" \
        $CONJUR_APPLIANCE_URL/authn/$CONJUR_ACCOUNT/login)

        SECRET=$(curl -s \
          -H "Authorization: Token token=\"$AUTHN_TOKEN\"" \
           $CONJUR_APPLIANCE_URL/secrets/$CONJUR_ACCOUNT/variable/data/vault/conjurtest/mysecret/password)
        echo "::add-mask::$SECRET"
        echo "Retrieved secret: $SECRET"

        
