name: Fetch Conjur Secret

on:
  push:
    branches: [ main ]

jobs:
  retrieve-secret:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install curl and jq
      run: sudo apt-get update && sudo apt-get install -y curl jq

    - name: Authenticate to Conjur and retrieve secret
      env:
        CONJUR_ACCOUNT: ${{ secrets.CONJUR_ACCOUNT }}
        CONJUR_APPLIANCE_URL: ${{ secrets.CONJUR_APPLIANCE_URL }}
        CONJUR_AUTHN_LOGIN: ${{ secrets.CONJUR_AUTHN_LOGIN }}
        CONJUR_API_KEY: ${{ secrets.CONJUR_API_KEY }}
      run: |
        echo "Logging into Conjur..."

        ENCODED_LOGIN=$(echo "$CONJUR_AUTHN_LOGIN" | sed 's/\//%2F/g')

        
        AUTHN_TOKEN=$(curl -s --request POST \
        --data "$CONJUR_API_KEY" \
        $CONJUR_APPLIANCE_URL/authn/$CONJUR_ACCOUNT/$CONJUR_AUTHN_LOGIN/authenticate \
        | base64 | tr -d '\r\n')
        
        echo "Raw AUTHN_TOKEN response:"
        echo "Login successful"
        echo "AUTHN_TOKEN: $AUTHN_TOKEN"

        ENCODED_PATH="data%2Fvault%2Fconjurtest%2Fmysecret%2Fpassword"

        SECRET=$(curl -s \
          -H "Authorization: Token token=\"$AUTHN_TOKEN\"" \
          $CONJUR_APPLIANCE_URL/secrets/$CONJUR_ACCOUNT/variable/$ENCODED_PATH)
        echo "Retrieved secret: $SECRET"


        
