name: Fetch Conjur Secret
 
on:
  push:
    branches: [ main ]
 
jobs:
  retrieve-secret:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
 
    - name: Install curl and jq
      run: sudo apt-get update && sudo apt-get install -y curl jq
 
    - name: Authenticate to Conjur and retrieve secret
      env:
        CONJUR_ACCOUNT: conjur
        CONJUR_APPLIANCE_URL: ${{ secrets.CONJUR_APPLIANCE_URL }}
        CONJUR_AUTHN_LOGIN: ${{ secrets.CONJUR_AUTHN_LOGIN }}
        CONJUR_API_KEY: ${{ secrets.CONJUR_API_KEY }}
      run: |
        set -e
 
        echo "=============================="
        echo "Logging into Conjur..."
        echo "Account: $CONJUR_ACCOUNT"
        echo "Appliance URL: $CONJUR_APPLIANCE_URL"
        echo "Authn Login: $CONJUR_AUTHN_LOGIN"
        echo "=============================="
 
        echo "Authenticating..."
 
        FULL_AUTHN_URL=$CONJUR_APPLIANCE_URL/api/authn/$CONJUR_ACCOUNT/$CONJUR_AUTHN_LOGIN/authenticate
        echo "Calling authn URL: $FULL_AUTHN_URL"
 
        RESPONSE=$(curl -i -s -w "\n%{http_code}" \
          --request POST \
          --data "$CONJUR_API_KEY" \
          "$FULL_AUTHN_URL")
 
        echo "Full /authenticate response:"
        echo "$RESPONSE"
 
        BODY=$(echo "$RESPONSE" | sed '$d')
        STATUS_CODE=$(echo "$RESPONSE" | tail -n1)
 
        if [ "$STATUS_CODE" != "200" ]; then
          echo "Authentication failed"
          echo "Status: $STATUS_CODE"
          echo "Body:"
          echo "$BODY"
          exit 1
        fi
 
        AUTHN_TOKEN=$(echo "$BODY" | base64 | tr -d '\r\n')
        echo "$AUTHN_TOKEN"
        #::add-mask::
        echo "Authentication successful"
        echo "=============================="
 
        echo "Fetching secret..."
 
        #RAW_PATH="c"

 
        #SECRET_URL=$CONJUR_APPLIANCE_URL/api/secrets/$CONJUR_ACCOUNT/variable/data/vault/conjurtest/conjurtest/password
        
        #echo "Secret fetch URL: $SECRET_URL"
 
        SECRET=$(curl -s -w "\n%{http_code}" \
          -H "Authorization: Token token=\"$AUTHN_TOKEN\"" \
          "$CONJUR_APPLIANCE_URL/api/secrets/$CONJUR_ACCOUNT/variable/data/vault/conjurtest/conjurtest/password")
 
        SECRET_VALUE=$(echo "$SECRET" | head -n1)
        SECRET_STATUS=$(echo "$SECRET" | tail -n1)
 
        echo "Secret fetch status: $SECRET_STATUS"
        if [ "$SECRET_STATUS" != "200" ]; then
          echo "Failed to fetch secret"
          echo "Response:"
          echo "$SECRET"
          exit 1
        fi
 
        echo "::add-mask::$SECRET_VALUE"
        echo "Retrieved secret: $SECRET_VALUE"
